.bg-image {
  background: #333;
  background-image: linear-gradient(to bottom, rgba(16, 19, 33, 0.52), #05060b),
    url("../assets/hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 90vh;
  width: 100%;
}
